

/* remove text highlighting when mouse dragged */
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0;
  }

  .user-btn {
    background-color: skyblue;
    margin: 0.2rem 1.5rem;
    padding: 0.5rem 1rem;
    width: 100px;
    height: 40px;
    font-size: .8rem;
    border: 2px solid rgb(100, 100, 100);
    cursor: pointer;
  }

  .row-div > button, .row-div > label{
    margin: 0.2rem .4rem;
    font-size: 1.3rem;
  }

  .row-div{
      margin-right: 50px
  }
  .column-div > button, .column-div > label{
    margin: 0.2rem .4rem;
    font-size: 1.3rem;
  }

  .column-div{
      margin-right: 50px
  }

  button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

  .user-inputs {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
  }

  .color-picker {
    margin: auto 1.3rem;
  }

  .color-picker > input {
    margin-left: 0.4rem;
    cursor: pointer;
  }

.cell {
    width: 50px;
    height: 50px;
    justify-content: center;
    border: 1px solid black;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
  }

  .cell:hover {
    transform: scale(1.1);
  }

.column{
    display: flex;
    flex-direction: column;
}

.table-table{
    display: flex;
    flex-direction: row;
}