* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

/* remove text highlighting when mouse dragged */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-inputs {
  background-color: orange;
  padding: 1rem;
}

.user-btn {
  background-color: rgb(164, 144, 251);
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: 2px solid rgb(100, 100, 100);
  cursor: pointer;
}

.cell {
  width: 30px;
  height: 30px;
  margin: 2px;
  justify-content: center;
  border: 3px solid black;
  transition: background 0.2s ease-in-out;
}

.column {
  display: flex;
  flex-direction: column;
}

.table-table {
  display: flex;
  flex-direction: row;
}
